body {
	background-color: #EEE;
	font-family: '나눔고딕', '돋움';
	margin:0px auto;
	padding:40px 0px;
	text-align: center;
}

#fb-root {
	display:none;
}

.bb {
	display:inline;
	font-weight: bold;
	color:#229;
}

#like {
	display: block;
	margin:0px, auto, 50px;
}

#bar {
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	height:50px;
	padding:10px 100px;
	display: block;
	text-align: center;
	line-height:50px;
	font-size:1.5em;
	background-color: #449;
	font-weight:bold;
	border-bottom: 2px solid #227;
	overflow:hidden;text-overflow:ellipsis;
}

#bar a {
	margin:0px auto;
	text-decoration: none;
	color: #FFF;
}

#content {
	margin:120px auto 100px;
	padding:40px 40px;
	width:360px;
	display: block;
	text-align:center;
	background-color: #FFF;
	border-radius: 5px;
	line-height: 1.5;
}

#intro {
	margin:0px auto;
	padding:auto;
}

	#board{
		display:none;
	}
		#since {
			display:none;
		}
		#cnt {
			display:none;
		}
		#state {
			display:none;
		}

#abox {
	display:none;
	margin:0px auto 15px;
	padding:30px 10px;
	width:330px;
	background: #555;
	border-top : 2px solid #227;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	font-weight: bold;
	transition:all 0.2s ease 0s;
}

#abox div {
	text-align: left;
	margin:0px;
	padding:0px;
}

	.ct {
		color:#FFF;
		text-align: center;
		display: inline-block;
		width:50px;
		background-color: #449;
		border-bottom:1px solid #FFF;
	}
	.graph {
		padding: 0px 10px;
		color:#222;
		text-align: right;
		display: inline-block;
		background-color: #CCF;
		width:10px;
		border-bottom:1px solid #FFF;
	}
	.total {
		text-align: center;
		width:200px;
		border: 0px;
		color:#33A;
		background-color: #FFF;
		font-size: 1em;
		display: none;
	}

#atext {
	display:none;
	background-color: #449;
	color:#FFF;
	height:20px;
	width:330px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	line-height: 20px;
	font-size:10pt;
	margin:0px auto;
	padding:0px 10px;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
}


#userirm {
	display: inline;
}

.button {
	border-radius: 5px;
	margin:10px auto 40px;
	width:150px;
	height:60px;
	background-color: #449;
	color:#FFF;
	cursor:pointer;
}
#sharebutton {
	display:none;
}

.button a{
	display:block;
	text-decoration:none;
	color:#FFF;
	line-height: 60px;
}

.button :hover{
	background-color: #77C;
	border-radius: 5px;
	transition:all 0.2s ease 0s;
}
.button :active{
	background-color: #444;
	color:#33C;
	border-radius: 5px;
	font-weight: bold;
	transition-duration:0s;
}

#footer {
	font-size:9pt;
	color:#444;
}